<p><%= node.lighttpd.greeting %></p>
<p>chef version <%= node.chef_packages.chef.version %> on node <font color=red><%= node.hostname %></font> running <%= node.platform_family %> <%= node.kernel.os %> <%= node.kernel.release %></p>

<p>listening on ip <%= node.ipaddress %></p>
