<h1><%= node['lighttpd']['greeting'] %></h1>
<p>nodename is <font color=red><%= node['hostname'] %></font> on <%= node['platform_family'] %> <%= node['os'] %></p>
<p>ipv4 = <%= node['ipaddress'] %></p>